---
InheritParentConfig: false
Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-assert-side-effect,
  bugprone-assignment-in-if-condition,
  bugprone-dangling-handle,
  bugprone-inaccurate-erase,
  bugprone-infinite-loop,
  bugprone-misplaced-widening-cast,
  bugprone-move-forwarding-reference,
  bugprone-not-null-terminated-result,
  bugprone-sizeof-expression,
  bugprone-suspicious-memory-comparison,
  bugprone-suspicious-memset-usage,
  bugprone-unchecked-optional-access,
  bugprone-unused-raii,
  bugprone-use-after-move,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-inefficient-algorithm,
  performance-inefficient-vector-operation,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-unnecessary-copy-initialization,
  modernize-use-nullptr,
  modernize-use-override,
  readability-redundant-declaration
WarningsAsErrors: ''
HeaderFilterRegex: '(^|[\\/])(Game[\\/](Application|Engine[\\/](Runtime|Standard|Source|UiPreviewHost|PlatformHosts))|tools[\\/]editor_launcher)[\\/]'
SystemHeaders: false
FormatStyle: file
